body {
  background: #edeff0;
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.container {
  width: 90%;
  max-width: 1100px;
  margin: 1.1em auto;

  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  background-color: transparent;
}

/* Header */

header {
  background-color: burlywood;
  margin: 0px;
  padding: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 1.5%;
}


.main-nav {
  /* display: inline; */
  /* float: right; */
  list-style: none;
  margin: 0;
  padding: 0;
}

.main-content {
  background-color: bisque;
  justify-content: center;
}


/* Homepage */
#mainImg {
  display: block;
  margin: 0 auto;
}

.subtitle {
  text-align: center;

}

.table {
  display: table;
  border-spacing: 20px;
  margin: 0 auto;
}

.row {
  display: table-row;
}

.row>* {
  display: table-cell;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  color: navy;
}

/* Product Box */
.box {
  box-sizing: border-box;
  background: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.1);
  position: relative;
  border: 1px solid lightgrey;
  display: grid;
  place-items: center;
}

.box img {
  max-width: 100%;
  max-height: 250px;
}

.box div {
  text-align: center;
  padding: 1em;
  background-color: white;
  margin-bottom: 1.5em;
}

footer {
  background-color: burlywood;
  position: relative;
}

/* .globalnav1 {
  display: inline;
  float: right;
  font-size: 25px;
} */

.globalnav2 {
  display: inline;
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 25px;
}

.CompanyInfo {
  display: inline-block;
}

/* Search Bar on Products Overview page */
.product-nav li {
  display: inline-block;
}

.product-nav li+li {
  margin-left: .6em;
}

.searchbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-nav li:hover,
.product-nav li.active {
  color: #fff;
  background: #39add1;
}

/* ProductDetails */
.content-display {
  width: 80%;
  margin: 0 10%;

}

.LR-display {
  display: flex;
}

#detailLeftDiv,
#detailRightDiv {
  flex: 1;
}

.desc {
  font-size: 10pt;
}

.highlightText {
  color: red;
  font-weight: bold;
}

.detailImg {
  width: 310px;
  /* Set the desired width */
  height: 220px;
  /* Set the desired height */
  object-fit: contain;
  /* This property ensures the image retains its aspect ratio and covers the entire box */
}